@tailwind base;
@tailwind components;
@tailwind utilities;

.containerdash{
    margin-top: 50px; 
    text-align: center; 
    padding-top: 20px; 
    justify-content: center;
    justify-items: center;
    background-color: #FFC0CB;
    border-radius: 10px;
    width: 100%;
}
.botaozinho{
    background-color:#DB7093;
    border-radius: 7px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.botaozinho:hover {
    background-color: #FFB6C1;
    color: #DB7093;
  }
