@tailwind base;
@tailwind components;
@tailwind utilities;

.containerdash{
    margin-top: 20px; 
    text-align: center; 
    padding-top: 20px; 
    justify-content: center;
    justify-items: center;

}
.card{
position: relative;
    width: 380px;
    height: 500px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: 	#FFE4E1;
    background-size: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 450px;
}
.lugar{
    display: flex;
    width: 100%;
}
.usuarios{
   left: 40px;
   color: #DB7093;
   font-size: 1.4em;
   margin-left: 70px;
   margin-bottom: 100px;
   padding-left: 80px;
}
.botaozinho{
    background-color:#DB7093;
    border-radius: 7px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: flex;
}

.botaozinho:hover {
    background-color: #FFB6C1;
    color: #DB7093;
  }
.input {
    background-color: #DB7093; 
    flex: 1; 
    padding: 8px; 
    border: 1px solid #C71585; 
    border-radius: 7px; 
    width: 200px; 
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
}
  
.input::placeholder {
    color: #C71585; 
    font-family: Andale Mono, monospace; 
}
  
.input:focus {
    border-color: #FFB6C1; 
    outline: none; 
}