@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    margin: auto; 
    text-align: center; 
    padding-top: 20px; 
    justify-content: center;
    justify-items: center;
}
.botaozinho{

}
